header
  padding: 20px 0
  background-color: #212529
  position: fixed
  right: 0
  left: 0
  z-index: 2
  width: 100%

  .menu
    display: flex
    justify-content: space-between
    align-items: center

    .imgbox
      width: 170px

    nav
      display: flex
      a
        cursor: pointer
        font-size: 18px
        color: #fcf7f7
        margin-right: 30px
        &:hover
          color: #f8cf75

    .btn
      display: none
      cursor: pointer
      align-items: center
      gap: 10px

      h3
        color: #a5a2a2
        font-weight: 700
        font-size: 18px
        margin-right: 10px

      .icon
        color: #afacac
        font-size: 22px
        margin-top: 2px

@media screen and (max-width: 992px)
  header
    .menu
      width: 100%

      nav
        display: none
        flex-direction: column
        gap: 15px
        background-color: #212529
        position: absolute
        top: 80px
        right: 0
        width: 100%
        text-align: center
        padding: 20px 0

        &.active
          display: flex

      .btn
        display: flex

@media screen and (max-width: 280px)
  .menu
    flex-flow: row wrap
