header
    background-color: black
    .imgbox
        img
            width: 150px
            height: 50px
            margin: 0 30px
    .menu
        display: flex
        justify-content: right
        background-color: rgba(0, 0, 0, 0.1)
        background-size: cover
        border-color: solid red
        nav
            a
                font-size: 22px
                color: #ffff
                margin-right: 30px
                transition: 1s
                &:hover
                    color: #c0bd21

