#network
    padding: 40px 0
    .box
        img
            width: 200px
            height: 200px
            font-size: 70px


@media (max-width: 992px)
  #network
    .box
      img
        width: 150px
        height: 150px


@media (max-width: 576px)
  #network
    padding: 20px 0

    .box
      img
        width: 100px
        height: 100px
