#network
    padding: 40px 0
    .box
        img
            width: 200px
            height: 200px
            font-size: 70px


@media (max-width: 768px)
  #network
    .box
      img
        width: 150px
        height: 150px
        font-size: 50px

@media (max-width: 480px)
  #network
    .box
      img
        width: 120px
        height: 120px
        font-size: 40px
